extends layout.pug

block title
  #{title}

block header
  div(class='relative mt-2 ml-4 flex-col w-full justify-center')
    a(class='underline', href='/')= "Go back"
    p(class='text-lg') #{title}
    p(class='text-md') #{description}
    p(class='text-md') #{tags}
    p(class='text-md') #{date}

block content
  article(id='article-content', class='h-full w-full px-4 md:px-6 text-xl leading-normal') #{content ? content : 'Nothing to show'}

block footer
  div(class='flex w-full h-full justify-center items-center')
    Written by salaadas
