meta(charset='utf-8')
meta(http-equiv='X-UA-Compatible', content='ie=edge')
meta(name='viewport', content='width=device-width, initial-scale=1')
meta(property='og:type', content='website')
meta(property='og:title', content=`${title}`)
meta(property='og:site_name', content=`Thuc Tran's Blog`)
meta(name='description', content=`${title} - Thuc Tran's Blog`)
meta(name='author', content=`Thuc Tran`)
link(rel='stylesheet', href='/css/index.css')
if redirect_to
  link(rel='canonical' href=`${redirect_to}`)
  meta(http-equiv='refresh' content=`0;URL='${redirect_to}'`)
else
  link(rel='canonical' href=`https://thuctran.xyz/blog/${link}`)
