//- deps: {name: string, title: `${name} posts`, desc: string, posts: Post[]}

extends base.pug

block content
  h1= title
  p= desc
  ul
    each post in posts
      li
        | #{`${post.body.formatDate()}`}
        | #{" - "}
        a(href=`/blogs/${post.file_name}`)= post.body.data.title
